
/*
 * Color Pallete
 * #727D73  - Background color 1
 * AAB99A   - Background color 2 (lighter)
 * D0DDD0   - 
 * F0F0D7   - Text color
 */

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #727D73;
    color: #F0F0D7;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    list-style: none;
    color: #F0F0D7;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #D0DDD0;
}

nav {
    border-radius: 10px;
    border-bottom: black 1px solid;
    font-weight: 900;
    font-size: 1.1rem;
}

img {
    width: 100%;
    border-radius: 10px;
}

#interactive-counter {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

#fun-button {
    color: #F0F0D7;
    background-color: #555e56;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    margin-bottom: 8px;
    margin-right: 8px;
}

#fun-button:hover {
    transform: scale(1.1);
}

#fun-button:active {
    transform: scale(1.2);
}

/* Responsive Design */
/* Between 600px - 999px, this will be in effect */
@media (max-width: 600px) {

    header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    nav {
        border-radius: 10px;
        border-bottom: black 1px solid;
        font-weight: 900;
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    /* Section container */
    section.container {
        display: block;
        background-color: #727D73;
        padding: 32px;
        height: 100%;
        width: 100%;
    }

    /* Section container (override height for nav section) */
    section.nav {
        height: 100px;
    }

    /* Section titles (h2) */
    .container > div {
        text-align: center;
        width: 100%;
    }

    .about-photo {
        display: block;
        margin : 10px;
        width: 75%;
    }

    .selfie {
        border-radius: 55%;
        width: 100%;    /* Inherits width from about-photo */
    }

    .about-description {
        text-align: justify;
        width: 100%;
    }
}

/* 1000px or greater, this will be in effect */
/* Desktop computer */
@media (min-width: 601px) {

    .logo {
        color: #D0DDD0;
        font-size: 1.5rem;
    }

    main {
        margin-top: 100px;
    }

    /* Section headers */
    h2 {
        font-weight: 900;
        font-size: 11rem;
        margin-bottom: 10px;
        border-bottom: 1px solid #D0DDD0;
    }

    h3 {
        font-weight: 1000;
    }

    h4 {
        font-weight: 800;
    }

    h3, h4 {
        margin-bottom: 5px;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    /* Section container */
    section.container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #727D73;
        padding: 32px;
        height: 100vh;
    }

    section.about {
        align-items: stretch;
    }

    /* Section container (override height for nav section) */
    section.nav {
        height: 100px;
    }

    /* Background colors for each section */
    section.portfolio {
        background-color: #92a083;
    }

    section.skills {
        background-color: #727D73;
    }

    section.contact {
        background-color: #92a083;
    }

    /* Section titles (h2) */
    .container > div {
        text-align: center;
        width: 1200px;
    }

    /* Nav container */
    .nav-container
    {
        display: flex;
        justify-content: space-between;
    }

    /* Nav anchors */
    .nav-container div > a
    {
        margin-left: 5px;
    }

    /* About container */
    .about-container {
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }

    .about-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 10px;
    }

    .selfie {
        border-radius: 55%;
        width: 60%;
    }
    
    .about-description {
        text-align: justify;
        width: 50%;
        margin-top: 10px;
    }

    /* Portfolio container */
    .portfolio-container {
        /* display: flex;
        gap: 20px; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .portfolio-item {
        width: 25%;
        background-color: #727D73;
        padding: 15px;
        border-radius: 25px;
        height: 300px; 
        position: relative; /* Used by .portfolio-links */

        /* This will space out the Header and Skills poortion of a project */
        /* '.portfolio-links' will not be spaced out because it is absolute to '.portfolio-item' */
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */

        /* Add transition time */
        transition-duration: 0.2s;
    }

    .portfolio-item:hover {
        cursor: pointer;
        background-color: #5a635a;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .portfolio-item > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .portfolio-description p {
        font-size: 1em;
    }

    .portfolio-description {
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
        padding: 15px;
    }

    .portfolio-links {
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 15px;
    }

    .portfolio-links > a {
        color: #D0DDD0;
    }

    .portfolio-skills {
        text-align: left;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 15px;
    }

    .portfolio-skills .skill {
        /* display: flex;
        flex-wrap: wrap;
        gap: 10px; */
    }

    .portfolio-skills .skill > p {
        font-size: 0.8rem;
    }

    .portfolio-img {
        width: 300px;
    }

    /* Skills container */
    .skills-container
    {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    /* Skills container */
    .skills-container > .skills {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        gap: 10px;
    }

    /* Contact container */
    .contact-container     
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

