
/*
 * Color Pallete
 * #727D73  - Background color 1
 * AAB99A   - Background color 2 (lighter)
 * D0DDD0   - 
 * F0F0D7   - Text color
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #727D73;
    color: #F0F0D7;
}

a {
    text-decoration: none;
    list-style: none;
    color: #F0F0D7;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #D0DDD0;
}

nav {
    border-radius: 10px;
    border-bottom: black 1px solid;
    font-weight: 900;
    font-size: 1.1rem;
}

.logo {
    color: #D0DDD0;
    font-size: 1.5rem;
}

main {
    margin-top: 100px;
}

h3 {
    font-weight: 1000;
    margin-bottom: 5px;
}

/* Section headers */
h2 {
    font-weight: 900;
    font-size: 11rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #D0DDD0;
}

header {
    position: sticky;
    top: 0;
}

/* Section container */
section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727D73;
    padding: 32px;
    height: 100vh;
}

/* Section container (override height for nav section) */
section.nav {
    height: 100px;
}

/* Background colors for each section */
section.portfolio {
    background-color: #92a083;
}

section.skills {
    background-color: #727D73;
}

section.contact {
    background-color: #92a083;
}

/* Section titles (h2) */
.container > div {
    text-align: center;
    width: 1200px;
}

/* Nav container */
.nav-container
{
    display: flex;
    justify-content: space-between;
}

 /* Nav anchors */
.nav-container div > a
{
    margin-left: 5px;
}

/* About container */
.about-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.about-description {
    text-align: justify;
    width: 50%;
    height: 300px;
}

.about-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
}

.selfie {
    height: 100%;
    /* width: 250px; */
    border-radius: 55%;
    box-sizing: border-box;
}

/* Portfolio container */
.portfolio-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
    background-color: #727D73;
    gap: 15px;
    width: 25%;
}

.portfolio-description {
    text-align: left;
    height: 55%;
}

.portfolio-skills {
    text-align: left;
    height: 35%;
}

.portfolio-links {
    text-align: left;
    height: 10%;
}

.portfolio-links > a {
    color: #D0DDD0;
}

.portfolio-img {
    width: 300px;
}

/* Skills container */
.skills-container
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Skills container */
.skills-container > .skills {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    gap: 10px;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill > p {
    font-size: 0.8rem;
}

/* Contact container */
.contact-container     
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}